## standard viawest my.cnf file ##

[mysqld]
datadir = /var/lib/mysql

log-bin = mmm1-log
log-bin-index = mmm1-index

socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

skip-host-cache
skip-name-resolve

symbolic-links=0

server-id = 1
report-host = mmm1
log-slave-updates
read-only = 0
