## standard viawest my.cnf file ##

[mysqld]
datadir = /var/lib/mysql

log-bin = mmm2-log
log-bin-index = mmm2-index

socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

skip-host-cache
skip-name-resolve

symbolic-links=0

server-id = 2
report-host = mmm2
log-slave-updates

read-only = 1
